<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <h4>
                    <img src="../../assets/img/logo-big.png" />
                </h4>
                <p>AngularJS 单页面应用基础模板</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>关于</h2>
                <ul class="list-unstyled">
                    <li><a href="/about/">关于我们</a></li>
                    <li><a href="/ad/">广告合作</a></li>
                    <li><a href="/links/">友情链接</a></li>
                    <li><a href="/hr/">招聘</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h2>联系方式</h2>
                <address class="margin-bottom-40">
                    电话: 18612345678<br>
                    邮箱: <a href="mailto:wowhy@outlook.com">wowhy@outlook.com</a>
                </address>
            </div>
        </div>
    </div>
</div>

<div class="page-footer">
    <div class="container">
        2015 &copy; Howonder
    </div>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>