<div ui-menu class="page-header">
    <div class="page-header-top">
        <div class="container">
            <div class="page-logo">
                <a href="#/dashboard.html"><img src="../assets/img/logo-default.png" alt="logo" class="logo-default"></a>
            </div>
            <a ui-menu-toggle class="menu-toggler" href="javascript:;"></a>
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li uib-dropdown class="dropdown dropdown-extended dropdown-dark dropdown-notification">
                        <a uib-dropdown-toggle class="dropdown-toggle">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default">1</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>通知： 挂起的更改(<strong>1</strong>)</h3>
                                <a href="javascript:;">查看全部</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">2015-01-01</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-success">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                                测试消息
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="droddown dropdown-separator">
                        <span class="separator"></span>
                    </li>
                    <li uib-dropdown class="dropdown dropdown-extended dropdown-dark dropdown-inbox">
                        <a uib-dropdown-toggle href="javascript:;" class="dropdown-toggle">
                            <span class="circle">1</span>
                            <span class="corner"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>您有 <strong>1</strong> 条新消息</h3>
                                <a href="javascript:;">查看全部</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller"
                                    style="height: 275px;"
                                    data-handle-color="#637283">
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="../../../assets/img/avatar.png" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Lisa Wong
                                                </span>
                                                <span class="time">Just Now </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li uib-dropdown class="dropdown dropdown-user dropdown-dark">
                        <a uib-dropdown-toggle href="javascript:;" class="dropdown-toggle">
                            <img alt="头像" class="img-circle" src="../../../assets/img/avatar.png">
                            <span class="username username-hide-mobile">张三</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="#/profile/dashboard">
                                    <i class="icon-user"></i> 个性化
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-calendar"></i> 我的日历
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-envelope-open"></i> 我的信息 <span class="badge badge-danger">
                                        3
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#/todo">
                                    <i class="icon-rocket"></i> 我的任务 <span class="badge badge-success">
                                        7
                                    </span>
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-key"></i> 退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-menu-content class="page-header-menu">
        <div class="container">
            <form class="search-form" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                    </span>
                </div>
            </form>
            <div class="hor-menu">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#/dashboard.html">仪表板</a>
                    </li>
                    <li uib-dropdown class="menu-dropdown classic-menu-dropdown ">
                        <a uib-dropdown-toggle href="#" class="dropdown-toggle">
                            AngularJS <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#/ui_bootstrap.html" class="iconify">
                                    <i class="icon-puzzle"></i>
                                    UI Bootstrap
                                </a>
                            </li>
                            <li>
                                <a href="#/file_upload.html" class="iconify">
                                    <i class="icon-paper-clip"></i>
                                    文件上传
                                </a>
                            </li>
                            <li>
                                <a href="#/ui_select.html" class="iconify">
                                    <i class="icon-check"></i>
                                    选择控件
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>